<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>城市影院APP</title>
		<link rel="stylesheet" href="./css/comm.css">
		<link rel="stylesheet" href="css/index.css" />

	</head>
	<body>
		<div id="app">
			<div class="nav-bar">
				城市影院
			</div>
			<div class="content-box">
				<ul class="movie-type">
					<li :class="{active:movieType==0}" @click="movieType=0">热映</li>
					<li :class="{active:movieType==1}" @click="movieType=1">待映</li>
					<li :class="{active:movieType==2}" @click="movieType=2">经典电影</li>
				</ul>
				<!-- 最爱好评的电影 -->
				<div class="nice-movie-box">
					<p class="nice-movie-title">最受好评的电影</p>
					<ul class="nice-movie-list">
						<li v-for="(item,index) in praiseMovieList">
							<div class="movie-img-box">
								<img :src="baseURL + item.movie_pc" class="movie-img" alt="">
								<p class="movie-score">观众评分：{{item.movie_score}}</p>
							</div>
							<p class="movie-name">{{item.movie_name}}</p>
						</li>
					</ul>
				</div>
				<!-- 电影列表 -->
				<ul class="movie-list">
					<li class="movie-item" v-for="(item,index) in movieData">
						<img :src="baseURL + item.movie_pc" class="movie-img-left" alt="" />
						<div class="movie-info-center">
							<div class="movie-name-center">{{item.movie_name}}</div>
							<div class="movie-score-center">观众评分：<span>{{item.movie_score}}</span>
								<div>主演：{{item.role}}</div>
								<!-- "/"为管道符 -->
								<div>上映时间：{{item.publicTime | formatDate}}</div>
							</div>
						</div>
						<div class="box-btn-right">
							<button type="button" class="btn-buyticket">购票</button>
						</div>
					</li>

				</ul>
			</div>
			<ul class="tab-bar">
				<li>影片</li>
				<li @click="h_request">影院</li>
				<li @click="paip">排片</li>
				<li @click="heart">我的</li>
			</ul>
		</div>
	</body>
	<script src="./js/vue.js"></script>
	<script src="./js/praiseMovieList.js"></script>
	<script src="js/movieData.js"></script>
	<script>
		new Vue({
			el: "#app",
			data: {
				movieType: 0,
				praiseMovieList: praiseMovieList.data,
				baseURL: "http://www.softeem.xin:9999",
				movieData: movieData.data.listData
			},
			//定义过滤器
			filters: {
				//格式化日期的过滤器
				formatDate: function(value) {
					//vaule 日期 publicTime
					var d = new Date(value);
					var year = d.getFullYear();
					var month = d.getMonth() + 1;
					var date = d.getDate();
					//拼接
					return year + "年" + month + "月" + date + "日";
				}
			},
			methods: {
				h_request() {
					window.location.href = "cinema.html"
				},
				heart() {
					window.location.href = "heart.html"
				},
				paip() {
					window.location.href = "paip.html"
				}
			}
		})
	</script>
</html>
